@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;1,400;1,600&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 12px;
}
.value {
	font-family: 'Ubuntu Mono', 'Courier New', monospace;
	font-size: 9pt;
	display: inline-block;
}

table.matrix {
	border-collapse: collapse; border-spacing: 0;
	font-size: 9pt;
}
.matrix td{
	text-align: center;
	padding: 0 1ex 0ex 1ex;
}
table.matrixbrak {
	border-collapse: collapse; border-spacing: 0;
}
table.matrixbrak td.lbrak {
	width: 0.8ex;
	font-size: 50%;
	border-top: solid 0.25ex black;
	border-bottom: solid 0.25ex black;
	border-left: solid 0.5ex black;
	border-right: none;
}
table.matrixbrak td.rbrak {
		width: 0.8ex;
		font-size: 50%;
		border-top: solid 0.25ex black;
		border-bottom: solid 0.25ex black;
		border-right: solid 0.5ex black;
		border-left: none;
}
